body {
  background-color: rgba(182, 180, 195, 0.905);
  display: flex;
  justify-content: center;
  padding: 2em;
  text-align: center;
}

.title {
  color: hsl(235, 85%, 18%);
  text-transform: uppercase;
}

.Machine {
  background-color: hsl(294, 19%, 43%);
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  box-shadow: 0 5px 10px hsl(294, 18%, 30%);
  align-items: center;
  border-radius: 10px;
  border: 2px solid hsl(0, 0%, 0%);
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 1em;
}

.list {
  display: flex;
  padding: 0;
}

.list li {
  background-color: hsl(0, 21%, 86%);
  border-radius: 8px;
  border: 2px solid hsl(0, 0%, 0%);
  font-size: 1.2em;
  list-style: none;
  padding: 1em;
}

.winner {
  color: rgb(13, 215, 13);
}

.looser {
  color: rgb(245, 13, 13) ;
}



